
nav a {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 20px;		
}

.section__form--p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 14px;
}


h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 25px;
	margin: 5px;
	justify-content: flex-start;
	padding: 100px;
	margin: 10px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 15px;
	margin: 5px;
	text-align: center;
}

h1 {
	animation-duration: 2s;
	animation-name: aparecer;
}

@keyframes aparecer {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 12px;
}

.textoGrande {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 35px;
	margin: 20px;
	padding: 20px;
	align-content: center;
}

.nosotrosTexto {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
	align-content: center;
	width: 600px;
}

body {
	height: 500px;
	margin: 10px;
	padding: 5px;
	/*background: linear-gradient(0deg, rgba(29,29,28,1) 24%, rgba(255,255,255,1) 63%);*/
}

.nav__fondo {
	background: color #f1f502;
	height: 60px;
	width: 1340px;
}

footer {
	display: flex;
	background-color: #323634;
	justify-content: flex-end;
	width: 1300px;
}

#footer p {
	display: flex;
	background-color: #323634;
	padding: 10px;
	margin: 20px;
	justify-content: center;
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

nav {
	display: flex;
	flex-direction: row;
	padding: 50px 0;
	margin: 5px;
	height: 100vh;
	justify-content:space-around;
	align-items: center;
	background: white; 
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navegacion nav {
	display: none;
}

.navegacion button:hover + nav {
	display: block;
}

@media (min-width: 1100px) {
	.navegacion nav {
		display: flex;
	}
	.navegacion button {
		display: none;
	}	
}

nav img { /*logo*/
	width: 150px;
	height: 150px;
}


nav {
  background: #eaebec;
}

img { 
	max-width: 100%;
}

#establecimiento .imgEstablecimiento {
	display: flex;
	width: 100%;
}

#establecimiento .imgEstablecimiento img {
	flex-basis: 300px;
}

#cajaInformacion .columna {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#cajaInformacion {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-basis: 500px;
	flex-grow: 0;
	padding: 40px 10px 10px 15px;
	margin: 5px 10px 10px 15px;
}

#grid {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 100px;
	
	grid-column-gap: 20px;
   	grid-row-gap: 5px;
   	padding: 40px;
	
   	align-items: stretch;
  	justify-content: space-around;
  	align-content: center;
}

.gridCaja {
	padding: 100px;
	align-items: stretch;
  	justify-content: space-around;
  	align-content: center;
}

.section__form {
	padding-top: 80px;
	margin: 10px;
}

.section__grid--consultorio {
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}

.div__p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #323634;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
}

.translate {
	background-color: white;
	color: grey;
}

.translate:hover {
	background-color: lightgrey;
}

.fa-1x {
font-size: 12px;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}

/*footer*/

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Social Icons */

.social{
	display: flex;
	height: 50px;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
}


.social li a{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 13px;
	
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	
	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px #222;
	-moz-box-shadow: inset 0 0 0 40px #222;
	-o-box-shadow: inset 0 0 0 40px #222;
	-ms-box-shadow: inset 0 0 0 40px #222;
	box-shadow: inset 0 0 0 40px #222;
	
	color: #fff;
}

.social li a:hover{
	-webkit-box-shadow: inset 0 0 0 3px #222;
	-moz-box-shadow: inset 0 0 0 3px #222;
	-o-box-shadow: inset 0 0 0 3px #222;
	-ms-box-shadow: inset 0 0 0 3px #222;
	box-shadow: inset 0 0 0 3px #222;
	
	color: #222;
}

